<% include partials/header %>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>


 <!-- all content of binary search tree put inside of an array-->
<script src="/HugeArray.js"></script>

<!-- my JS -->
<script src="/regular.js"></script>




<div class="bg-regular">


    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2>Does your character work at the park?</h2>
        </div>
    </div>


    <div class="container">
        <div class="buttons">
            <button onclick="yesClick()" id="yes" type="button" class="btn btn-primary">Yes</button>
            <button onclick="noClick()" id="no" type="button" class="btn btn-secondary">No</button>
        </div>

        <img id="myImage" src="https://static.thenounproject.com/png/547804-200.png" alt "hi">


        <!-- In your HTML -->
        <a href="/regular" id="button" class="hidden">Try Again?</a>

    </div>

</div>








<% include partials/footer %>